<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose time</title>
</head>
<body>
<h1><a href="/normal">Normal Time</a></h1>
<br>
<h1><a href="/quantum">Quantum Time</a></h1>
</body>
</html>
