<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Normal Time</title>
</head>
<body>
<h1>Normal Time since 1939</h1>
<h2><%= time.years %> Years <%= time.months %> Months <%= time.days %> Days</h2>
</body>
</html>
